# dependencies (bun install)
node_modules/
**/node_modules/
packages/**/node_modules/
dist/

# output
out
dist
*.tgz

# Build Output
dist/
build/
.output/

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
**/.env*
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.*.local

*.db
**/*.db

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
